__pycache__/
*.py[cod]
*$py.class
*.pyc.*
*.sqlite3
db.sqlite3

.Python
.env
.env.*
.venv/
venv/
env/
ENV/

.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
.coverage.*
htmlcov/

.tox/
.nox/
.hypothesis/

.idea/
.vscode/

dist/
build/
*.egg-info/

staticfiles/
media/
